<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{text}}
      <input type="text" v-model="tempText" />
      <button type="button" @click="newItem">新增</button>
      <ul>
        <li v-for="item in list" :key="item.id">
          {{item.content}}
          <button type="button" @click="removeData(item.id)">刪除</button>
          <button type="button" @click="edit(item)">編輯</button>
        </li>
      </ul>
      <hr />
      更新資料 <input type="text" v-model="tempData.content" />
      <button type="button">確認更新</button>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          //方便管理
          text: "小明的筆記本",
          tempText: "",
          tempData: {},
          list: [
            {
              id: 1,
              content: "第一筆內容",
            },
            {
              id: 2,
              content: "第二筆內容",
            },
          ],
        },
        methods: {
          //方便管理
          edit(item) {
            //使用淺拷貝
            this.tempData = Object.assign({}, item);
            console.log(this.tempData);
          },
          newItem() {
            var time = new Date().getTime(); //取 unix 時間
            var newData = {
              id: time,
              content: this.tempText,
            };
            console.log(newData);
            this.list.push(newData);
            this.tempText = "";
          },
          removeData(id) {
            var i;
            this.list.forEach((item, key) => {
              if (item.id == id) {
                i = key;
              }
            });
            console.log(i);
            this.list.splice(i, 1);
          },
        },
        created() {
          // this.updateItem();
        },
      });
    </script>
  </body>
</html>
